In [4]:
!gdown 1boIax8d9Sat6OJzkiIjjpqmtSZKuRYrx

Downloading...
From: https://drive.google.com/uc?id=1boIax8d9Sat6OJzkiIjjpqmtSZKuRYrx
To: C:\Users\ninam\Labs VNP\ElectricCarData.csv

  0%|          | 0.00/8.20k [00:00<?, ?B/s]
100%|##########| 8.20k/8.20k [00:00<00:00, 8.37MB/s]

In [19]:
import pandas as pd

In [9]:
data = pd.read_csv('ElectricCarData.csv')

In [11]:
data.head(15)

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
5,Lucid,Air,2.8,250,610,180,620,Yes,AWD,Type 2 CCS,Sedan,F,5,105000
6,Volkswagen,e-Golf,9.6,150,190,168,220,Yes,FWD,Type 2 CCS,Hatchback,C,5,31900
7,Peugeot,e-208,8.1,150,275,164,420,Yes,FWD,Type 2 CCS,Hatchback,B,5,29682
8,Tesla,Model 3 Standard Range Plus,5.6,225,310,153,650,Yes,RWD,Type 2 CCS,Sedan,D,5,46380
9,Audi,Q4 e-tron,6.3,180,400,193,540,Yes,AWD,Type 2 CCS,SUV,D,5,55000
10,Mercedes,EQC 400 4MATIC,5.1,180,370,216,440,Yes,AWD,Type 2 CCS,SUV,D,5,69484
11,Nissan,Leaf,7.9,144,220,164,230,Yes,FWD,Type 2 CHAdeMO,Hatchback,C,5,29234
12,Hyundai,Kona Electric 64 kWh,7.9,167,400,160,380,Yes,FWD,Type 2 CCS,SUV,B,5,40795
13,BMW,i4,4.0,200,450,178,650,Yes,RWD,Type 2 CCS,Sedan,D,5,65000
14,Hyundai,IONIQ Electric,9.7,165,250,153,210,Yes,FWD,Type 2 CCS,Liftback,C,5,34459

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [14]:
df_copy = data.copy()

In [15]:
df_copy['Brand'].values

array(['Tesla ', 'Volkswagen ', 'Polestar ', 'BMW ', 'Honda ', 'Lucid ',
       'Volkswagen ', 'Peugeot ', 'Tesla ', 'Audi ', 'Mercedes ',
       'Nissan ', 'Hyundai ', 'BMW ', 'Hyundai ', 'Volkswagen ',
       'Porsche ', 'Volkswagen ', 'MG ', 'Mini ', 'Opel ', 'Tesla ',
       'Skoda ', 'Audi ', 'Tesla ', 'Volkswagen ', 'Volkswagen ',
       'Volvo ', 'BMW ', 'Peugeot ', 'Audi ', 'Kia ', 'Renault ',
       'Tesla ', 'Mazda ', 'Nissan ', 'Lexus ', 'CUPRA ', 'Renault ',
       'Mercedes ', 'Tesla ', 'Hyundai ', 'Audi ', 'Skoda ', 'SEAT ',
       'Kia ', 'Opel ', 'Porsche ', 'Lightyear ', 'Aiways ', 'Audi ',
       'Tesla ', 'Opel ', 'Skoda ', 'Tesla ', 'Honda ', 'DS ', 'Renault ',
       'Citroen ', 'Tesla ', 'Renault ', 'Tesla ', 'Nissan ', 'Jaguar ',
       'Ford ', 'Porsche ', 'Nissan ', 'Tesla ', 'Renault ', 'Ford ',
       'BMW ', 'Skoda ', 'Porsche ', 'Byton ', 'Sono ', 'Kia ', 'Audi ',
       'Smart ', 'Ford ', 'Porsche ', 'Volkswagen ', 'Tesla ', 'Smart ',
       'Ford ', 'Mercedes ', 'Fiat ', 'Tesla ', 'Audi ', 'Skoda ',
       'Skoda ', 'Audi ', 'Smart ', 'Kia ', 'Nissan ', 'Fiat ',
       'Volkswagen ', 'Kia ', 'Byton ', 'Nissan ', 'Audi ', 'Nissan ',
       'Nissan ', 'Byton '], dtype=object)

In [25]:
df_copy.isnull().sum()

Brand              0
Model              0
AccelSec           0
TopSpeed_KmH       0
Range_Km           0
Efficiency_WhKm    0
FastCharge_KmH     0
RapidCharge        0
PowerTrain         0
PlugType           0
BodyStyle          0
Segment            0
Seats              0
PriceEuro          0
dtype: int64

In [16]:
df_copy['Brand'] = encoder.fit_transform(df_copy['Brand'])

In [18]:
df_copy['Brand']

0      30
1      31
2      23
3       2
4       9
       ..
98     20
99      1
100    20
101    20
102     3
Name: Brand, Length: 103, dtype: int32

In [20]:
df_copy['Model'] = encoder.fit_transform(df_copy['Model'])

In [21]:
df_copy['Model']

0       46
1       33
2        0
3      101
4       78
      ...
98       6
99      94
100      8
101     10
102     42
Name: Model, Length: 103, dtype: int32

In [26]:
df_copy['RapidCharge'] = encoder.fit_transform(df_copy['RapidCharge'])

In [27]:
df_copy['RapidCharge']

0      1
1      1
2      1
3      1
4      1
      ..
98     1
99     1
100    1
101    1
102    1
Name: RapidCharge, Length: 103, dtype: int32

In [28]:
df_copy.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,30,46,4.6,233,450,161,940,1,AWD,Type 2 CCS,Sedan,D,5,55480
1,31,33,10.0,160,270,167,250,1,RWD,Type 2 CCS,Hatchback,C,5,30000
2,23,0,4.7,210,400,181,620,1,AWD,Type 2 CCS,Liftback,D,5,56440
3,2,101,6.8,180,360,206,560,1,RWD,Type 2 CCS,SUV,D,5,68040
4,9,78,9.5,145,170,168,190,1,RWD,Type 2 CCS,Hatchback,B,4,32997

In [30]:
df_copy['PowerTrain'] = encoder.fit_transform(df_copy['PowerTrain'])

In [31]:
df_copy['PowerTrain']

0      0
1      2
2      0
3      2
4      2
      ..
98     1
99     0
100    0
101    0
102    0
Name: PowerTrain, Length: 103, dtype: int32

In [32]:
df_copy['BodyStyle'] = encoder.fit_transform(df_copy['BodyStyle'])

In [33]:
df_copy['BodyStyle']

0      7
1      1
2      2
3      6
4      1
      ..
98     1
99     6
100    1
101    1
102    6
Name: BodyStyle, Length: 103, dtype: int32

In [34]:
df_copy['Segment'] = encoder.fit_transform(df_copy['Segment'])

In [35]:
df_copy['Segment']

0      3
1      2
2      3
3      3
4      1
      ..
98     2
99     4
100    2
101    2
102    4
Name: Segment, Length: 103, dtype: int32

In [36]:
df_copy.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,30,46,4.6,233,450,161,940,1,0,Type 2 CCS,7,3,5,55480
1,31,33,10.0,160,270,167,250,1,2,Type 2 CCS,1,2,5,30000
2,23,0,4.7,210,400,181,620,1,0,Type 2 CCS,2,3,5,56440
3,2,101,6.8,180,360,206,560,1,2,Type 2 CCS,6,3,5,68040
4,9,78,9.5,145,170,168,190,1,2,Type 2 CCS,1,1,4,32997

In [37]:
from sklearn.preprocessing import OneHotEncoder
encoder2 = OneHotEncoder()

In [38]:
pd.DataFrame(encoder2.fit_transform(df_copy['PlugType'].to_numpy().reshape(-1, 1)).toarray())

       0    1    2    3
0    0.0  0.0  1.0  0.0
1    0.0  0.0  1.0  0.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  1.0  0.0
4    0.0  0.0  1.0  0.0
..   ...  ...  ...  ...
98   0.0  0.0  1.0  0.0
99   0.0  0.0  1.0  0.0
100  0.0  0.0  1.0  0.0
101  0.0  0.0  1.0  0.0
102  0.0  0.0  1.0  0.0

[103 rows x 4 columns]

In [43]:
dict = {}
classes = list(set(df_copy['PlugType']))

for i in range(0, len(classes)):
    dict[classes[i]] = i

dict

{'Type 2': 0, 'Type 1 CHAdeMO': 1, 'Type 2 CHAdeMO': 2, 'Type 2 CCS': 3}

In [44]:
df_copy['PlugType'] = [dict[i] for i in df_copy['PlugType']]

In [45]:
df_copy['PlugType']

0      3
1      3
2      3
3      3
4      3
      ..
98     3
99     3
100    3
101    3
102    3
Name: PlugType, Length: 103, dtype: int64

In [48]:
df_copy['PlugType'].head(30)

0     3
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    2
12    3
13    3
14    3
15    3
16    3
17    3
18    3
19    3
20    3
21    3
22    3
23    3
24    3
25    3
26    3
27    3
28    3
29    3
Name: PlugType, dtype: int64

In [49]:
df_copy.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,30,46,4.6,233,450,161,940,1,0,3,7,3,5,55480
1,31,33,10.0,160,270,167,250,1,2,3,1,2,5,30000
2,23,0,4.7,210,400,181,620,1,0,3,2,3,5,56440
3,2,101,6.8,180,360,206,560,1,2,3,6,3,5,68040
4,9,78,9.5,145,170,168,190,1,2,3,1,1,4,32997

In [62]:
df_copy['FastCharge_KmH'] = pd.to_numeric(df_copy['FastCharge_KmH'], errors='coerce') 
df_copy['FastCharge_KmH'].fillna(df_copy['FastCharge_KmH'].mean(), inplace=True)

In [72]:
df_copy['FastCharge_KmH'].isna().sum()

0

In [67]:
df_copy['FastCharge_KmH'].head()

0    940.0
1    250.0
2    620.0
3    560.0
4    190.0
Name: FastCharge_KmH, dtype: float64

In [51]:
##Split the dataset for training and testing in ratio 80:20

In [53]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.pairplot(df_copy)

In [54]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, Y_train, Y_test = train_test_split( df_copy[df_copy.columns[:-1]],  df_copy['PriceEuro'], test_size=0.2)

In [77]:
##Initialize the DecisionTreeRegressor model, and use the fit function for training the model.
##Add values for the parameters max_depth, min_samples_split, and max_features.

In [148]:
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(max_depth=3, min_samples_leaf=4, max_features=0.5)
regressor.fit(X_train, Y_train)

y_pred_dt = regressor.predict(X_test)

In [149]:
Y_train

94     37900
96     33133
70     41526
64     54475
86     45000
       ...
2      56440
50     79445
77     22030
60     29234
5     105000
Name: PriceEuro, Length: 82, dtype: int64

In [150]:
from sklearn import metrics

In [151]:
print("Accuracy:",regressor.score(X_test, Y_test))

Accuracy: 0.7250763962771882

In [105]:
##Initialize the XGBRegressor model, and use the fit function

In [125]:
from xgboost import XGBRegressor

model = XGBRegressor(objective ='reg:squarederror',colsample_bytree=0.3,learning_rate=0.1,max_depth=5,alpha=2,n_estimators=10)
model.fit(X_train, Y_train)

y_pred_xgb = model.predict(X_test)

In [126]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

print("Mean Absolute Error : " + str(mean_absolute_error(y_pred_xgb, Y_test)))
print("Mean Squared Error : " + str(mean_squared_error(y_pred_xgb, Y_test)))
print("Root Mean Squared Error : " + str(np.sqrt(mean_squared_error(y_pred_xgb, Y_test))))

Mean Absolute Error : 22671.905133928572
Mean Squared Error : 1766287539.6320481
Root Mean Squared Error : 42027.223791633536

In [152]:
print("Mean Absolute Error : " + str(mean_absolute_error(y_pred_dt, Y_test)))
print("Mean Squared Error : " + str(mean_squared_error(y_pred_dt, Y_test)))
print("Root Mean Squared Error : " + str(np.sqrt(mean_squared_error(y_pred_dt, Y_test))))

Mean Absolute Error : 13093.350396825397
Mean Squared Error : 720119314.8002216
Root Mean Squared Error : 26835.038937930043